<footer>
  <div id="footer-top">
    <div class="container">
      <p>
        <a href="https://www.carehome.co.uk">Home</a>
        · <a href="https://www.carehome.co.uk/care_search.cfm">Care Home Search</a>
        · <a href="https://www.carehome.co.uk/care_homes_by_name.cfm">Care Homes by Name</a>
        · <a href="https://www.carehome.co.uk/caregroups/">Care Home Providers</a>
        · <a href="https://www.carehome.co.uk/associations-organisations-charities/">Care Home Associations</a>
        · <a href="https://www.carehome.co.uk/fees/">Care Home Fees Advice</a>
      </p>
      <p>
        <a href="https://www.carehome.co.uk/suppliers_search.cfm">Products &amp; Services for Care Homes</a>
        · <a href="https://www.carehome.co.uk/disk.cfm">Care Data</a>
        · <a href="https://www.carehome.co.uk/news/">Care News &amp; Events</a>
        · <a href="https://www.carehome.co.uk/jobs/">Care Home Jobs</a>
      </p>
      <p class="no-margin-bottom">
        <a href="https://www.carehome.co.uk/for-sale/">Care Homes for Sale</a>
        · <a href="https://www.carehome.co.uk/care-training/">Care Training Courses</a>
        · <a href="https://www.carehome.co.uk/app/">iPhone &amp; Android Apps</a>
      </p>
    </div>
  </div>
  <div id="footer-lower">
    <div class="container">
      <p>
        <a href="https://www.carehome.co.uk/contact.cfm">About carehome.co.uk</a>
        <a href="https://www.carehome.co.uk/advertise.cfm">Our Services / Advertise</a>
        <a href="https://www.carehome.co.uk/terms/">Terms &amp; Conditions</a>
        <a href="https://www.carehome.co.uk/terms/">Privacy Policy &amp; Cookies</a>
      </p>
      <p>
        </p><div class="top-socials-inner clearfix">
          <a href="https://www.facebook.com/carehomesuk" class="link-social link-social-fb"></a>
          <a href="https://twitter.com/carehome_co_uk" class="link-social link-social-twitter"></a>
          <a href="https://plus.google.com/109471533358773257645" class="link-social link-social-google"></a>
        </div>
      <p></p>
      <p id="copyright" class="no-margin-bottom">
        © 2017 carehome.co.uk
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>
