<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Featured:</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs text-center">
      <li class="active"><a href="#suppliers" data-toggle="tab">Suppliers</a></li>
      <li class=""><a href="#property" data-toggle="tab">Property Agents</a></li>
      <li class=""><a href="#training" data-toggle="tab">Training Providers</a></li>
      <li class=""><a href="#recruiters" data-toggle="tab">Recruiters</a></li>
      <li class=""><a href="#advice" data-toggle="tab">Advice Providers</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="suppliers">
        <div class="text-left">
          <br/>
          <strong>A listing on the Home Page</strong>
          <p>Logo, Company Name and Strapline linked to your carehome.co.uk profile page</p>
          <strong>A listing on the Products and Services Home Page</strong>
          <p>Logo, Company Name and Strapline linked to your carehome.co.uk profile page</p>
          <strong>Sequenced above Sponsored Category listings in each of your Product & Service Categories</strong>
          <p>Listings with Features will appear above listings with only a Sponsored Category listing.</p>
          <strong>Cost: </strong>£3000+VAT per annum
        </div>
      </div>
      <div class="tab-pane fade" id="property">
        <div class="text-left">
          <br/>
          <strong>A listing on the Home Page</strong>
          <p>Logo, Company Name and linked to a page featuring all of your for sale / sold posts.</p>
          <strong>A listing on the For Sale & Sold Home Pages</strong>
          <p>Logo, Company Name and linked to a page featuring all of your for sale / sold posts.</p>
          <strong>An unlimited number of property postings in the For Sale section</strong>
          <p>Sponsored category listings are limited to a maximum of 20 concurrent postings (10 For Sale & 10 Sold) in the For Sale section.</p>
          <strong>Sequenced above Sponsored Category listings in each of your Product & Service Categories</strong>
          <p>Listings with Features will appear above listings with only a Sponsored Category listing.</p>
          <strong>Cost: </strong>£3000+VAT per annum
        </div>
      </div>
      <div class="tab-pane fade" id="training">
        <div class="text-left">
          <br/>
          <strong>A listing on the Home Page</strong>
          <p>Logo, Company Name and a link to a page featuring all of your posted Training Courses.</p>
          <strong>A listing on the Training Home Page</strong>
          <p>Logo, Company Name and a link to a page featuring all of your posted Training Courses.</p>
          <strong>Up to 200 concurrent training courses postings in the Training Courses section, sequenced above Training Courses posted by Sponsored Categories</strong>
          <p>Sponsored category listings are limited to a maximum of 30 concurrent postings in the Training Courses section.</p>
          <strong>Sequenced above Sponsored Category listings in each of your Product & Service Categories</strong>
          <p>Listings with Features will appear above listings with only a Sponsored Category listing.</p>
          <strong>Cost: </strong>£3000+VAT per annum
        </div>
      </div>
      <div class="tab-pane fade" id="recruiters">
        <div class="text-left">
          <br/>
          <strong>A listing on the Home Page</strong>
          <p>Logo, Company Name and a link to a page featuring all of your self-branded posted Jobs.</p>
          <strong>A listing on the Jobs Home Page</strong>
          <p>Logo, Company Name and a link to a page featuring all of your self-branded posted Jobs.</p>
          <strong>Sequenced above Sponsored Category listings in each of your Product & Service Categories</strong>
          <p>Listings with Features will appear above listings with only a Sponsored Category listing.</p>
          <strong>x100 Job Credits</strong>
          <p>x100 Job Credits (worth £1000) to post jobs on our industry leading jobs board carehome.co.uk/jobs.</p>
          <strong>Cost: </strong>£6000+VAT per annum
        </div>
      </div>
      <div class="tab-pane fade" id="advice">
        <div class="text-left">
          <br/>
          <strong>A listing on the every page in the Care Advice and Care Fees sections</strong>
          <p>Logo, Company Name, Strapline and a link to your carehome.co.uk profile page.</p>
          <strong>Sequenced above Sponsored Category listings in each of your Product & Service Categories</strong>
          <p>Listings with Features will appear above listings with only a Sponsored Category listing.</p>
          <strong>Cost: </strong>£6000+VAT per annum
        </div>
      </div>
    </div>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
