<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Care Homes & Nursing Homes Mailing Lists and Data</h3>
  </div>
  <div class="panel-body">
    <div class="vertical-margin">
      <h4>Care Homes &amp; Nursing Homes Mailing Lists and Data</h4>

      <div class="text-center">
        <a href="https://www.caredata.co.uk">
          <img src="https://www.carehome.co.uk/images/care-data.png" class="block-center vertical-margin">
        </a>
      </div>

      <br/>

      <p>Our website, <a href="https://www.caredata.co.uk">caredata.co.uk</a>, provides care home data for mailing lists, tele-sales
      and in depth research.  You can use the data to target or research care homes by area, size, care category, group and many
      other criteria.</p>

      <p>We have several procedures that ensure that our care homes database is the most comprehensive, up to date and accurate care
      home database available.</p>

      <p>Please visit our dedicated data site at <a href="https://www.caredata.co.uk">caredata.co.uk</a> to view all the available
      care home data files and to purchase and download the data online.</p>
    </div>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
