<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">CV Search Overview / FAQ</h3>
  </div>
  <div class="panel-body">
    <p>
      The carehome.co.uk CV Search is currently in pre-release stage, and only available to selected clients. If you would like to register your interest or have any questions not answered by the FAQ please enter your details in the enquiry form.
    </p>
    <form class="well">
      <div class="form-group">
        <label class="control-label" for="fullName">Full Name</label>
        <input class="form-control" id="fullName" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="emailAddress">Email Address</label>
        <input class="form-control" id="emailAddress" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="phone">Phone Number</label>
        <input class="form-control" id="phone" type="text">
      </div>
      <div class="text-right">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
