<div class="list-group">
  <a [ngClass]="{'active ' : title == 'services'}" (click)="onTitleClick('services')" class="list-group-item">Services</a>
  <a [ngClass]="{'active ' : title == 'features'}" (click)="onTitleClick('features')" class="list-group-item">Features</a>
  <a [ngClass]="{'active ' : title == 'advertisement'}" (click)="onTitleClick('advertisement')" class="list-group-item">Advertisement</a>
  <a [ngClass]="{'active ' : title == 'cvsearch'}" (click)="onTitleClick('cvsearch')" class="list-group-item">CV Search</a>
</div>
