<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Features</h3>
  </div>
  <div class="panel-body">
    <h4>Featured Care Home Groups</h4>
    <p>
      Featured Care Home Groups show on the Home Page and Care Home Search Page.
      It includes your logo and a link to your group page.
      The display order will rotate randomly on each page load after 2 minute intervals.
    </p>
    <p>
      Please <a>click here</a> to see the current Featured Care Groups
    </p>
    <h4>Featured Care Homes</h4>
    <p>
      Featured Care Homes show on any selected Care Home search result page (max 4 per page) and include a photo (your 1st photo from your Listing), logo and review score linked to your profile page. They show at the top of the page and dramatically increase the number of page views your profile page receives.
    </p>
    <p>
      The display order will rotate randomly on each page load after 2 minute intervals. Groups who book a Featured Care Home can either specify which of their members to display, or a random member record will show. The random member record will be one that matches (if available) the location of the page that it is on. Please note that Groups are not permitted to book more than one Featured Care Home on the same page (eg 2 bookings on the Berkshire Care Homes page would not be permitted). Also please note you must be subscribed to the Enhanced or Premium Service to take a Feature.
    </p>
    <p>
      Please <a>click here</a> to see an example of some current Featured Care Homes.
    </p>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
