<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Basic / Enhanced / Premium Services</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>
            <p>
              <strong>Contacts Details &amp; Description</strong><br> Contact info &amp; Company description on your profile
              page
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>Website Link</strong><br> A link to your own website is included your profile page. Please note the
              website link includes a rel=nofollow tag to comply with google's guidelines on third party website links
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>List your Business in 5 Categories</strong><br> You can choose to be listed in up to 5 categories –
              there are over 300 categories to select from! (additional sponsored categories available @ £20 each)
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>Photos &amp; Logo</strong><br> Photos (unlimited number) &amp; Logo on your profile page
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>Video</strong><br> Video on your profile page and on the carehome.co.uk *YouTube channel
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>Press Releases</strong><br> Press Releases can be posted to the press releases tab in the news &amp;
              events section and will feature on your profile page – <a href="http://www.carehome.co.uk/news/press_release.cfm"
                target="_blank">see example</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>Events</strong><br> Events can be posted to the events calendar in the events section and will feature
              on your profile page – <a href="http://www.carehome.co.uk/news/events.cfm/eventcategory/3" target="_blank">see example</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>Awards</strong><br> Awards on your profile page
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>10 Job Credits - 20 Properties For Sale / Sold  - 30 Training Courses</strong><br>
            </p>
            <p>Recruitment Agencies - 10 Job Credits (worth £250) on the industry leading jobs board carehome.co.uk/jobs.</p>
            <p>Property Agents &amp; Business Brokers - Post up to 20 concurrent Properties in the For Sale / Sold Sections
              (10 For Sale &amp; 10 Sold).</p>
            <p>Training Providers - Post up to 30 concurrent Training Courses in the Training Course Section.</p>
            <p></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>Price</strong><br> The price for our sponsored service is £300+VAT per year (If you require more than
              5, additional categories available @ £20+VAT per category)
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
