<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Advertisement</h3>
  </div>
  <div class="panel-body">
    <h4>Banner Adverts on carehome.co.uk Newsletter</h4>
    <p>There are currently 86,434 subscribers to the carehome.co.uk email newsletter.</p>
    <p>For examples of previous newsletters <a>click here.</a></p>
    <p>Banner adverts are available at £500+VAT per newsletter.</p>
    <p>If required, we will design the banner advert for free of charge (using our in-house designer, working with your requirements).</p>
    <p>The size is of the banner is 160x160 pixels, max 100kb. Banner adverts must be supplied in jpeg or png format. Only one link per banner advert is permitted.</p>
    <p>We also include the banner advert (rotating randomly on each page view in blocks of 6 ads) on every result page and every news article page of the news & events section on <a>www.carehome.co.uk/news</a> from the launch of the newsletter until the next newsletter (ie 1 month).</p>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
