<div class="list-group">
  <a [ngClass]="{'active ' : title == 'services'}" (click)="onTitleClick('services')" class="list-group-item">Services</a>
  <a [ngClass]="{'active ' : title == 'features'}" (click)="onTitleClick('features')" class="list-group-item">Features</a>
  <a [ngClass]="{'active ' : title == 'advertisement'}" (click)="onTitleClick('advertisement')" class="list-group-item">Advertisement</a>
  <a [ngClass]="{'active ' : title == 'data'}" (click)="onTitleClick('data')" class="list-group-item">Data Services</a>
  <a [ngClass]="{'active ' : title == 'cvsearch'}" (click)="onTitleClick('cvsearch')" class="list-group-item">CV Search</a>
  <a [ngClass]="{'active ' : title == 'property'}" (click)="onTitleClick('property')" class="list-group-item">Property</a>
  <a [ngClass]="{'active ' : title == 'recruitment'}" (click)="onTitleClick('recruitment')" class="list-group-item">Recruitment</a>
  <a [ngClass]="{'active ' : title == 'training'}" (click)="onTitleClick('training')" class="list-group-item">Training</a>
</div>
