<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Post your Care Jobs</h3>
  </div>
  <div class="panel-body">
    <p>For <strong>Care Providers or Recruitment Agencies</strong> listed on carehome.co.uk, please go to the 'Jobs' page on
      your <a href="https://www.carehome.co.uk/controlpanel/">carehome.co.uk Control Panel</a> to post Jobs (Job Credits
      required - see below). If you do not have a Profile, <a href="https://www.carehome.co.uk/advertise_supplier.cfm/page/supplierentry">click here</a>.
      Alternatively, please call our sales team on 01488 684321.</p>
    <h3>FAQ</h3>
    <h4>How Much does it Cost to Post Jobs?</h4>
    <ul>
      <li>Care Providers must be subscribed to an Enhanced Service which includes 10 Job Credits per Care Home / Agency or the
        Premium Service which includes 30 Job Credits per Care Home / Agency. If the quota of Job Credits is used up (Each
        job credit allows a job to be displayed for 30 days), additional credits can be purchased at the below prices:</li>
      <li>Recruitment Agencies must be subscribed to a Sponsored Service which includes 10 Job Credits. If the quota of Job Credits
        is used up (Each job credit allows a job to be displayed for 30 days), additional credits can be purchased at the
        below prices:</li>
    </ul>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <p class="text-center"><strong>Number of Job Credits</strong></p>
          </th>
          <th>
            <p class="text-center"><strong>Price per Job Credit</strong></p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            1– 4
          </td>
          <td class="text-center">£75.00 + VAT</td>
        </tr>
        <tr>
          <td class="text-center">
            5 – 9
          </td>
          <td class="text-center">£30.00 + VAT</td>
        </tr>
        <tr>
          <td class="text-center">
            10 – 19
          </td>
          <td class="text-center">£25.00 + VAT</td>
        </tr>
        <tr>
          <td class="text-center">
            20 – 49
          </td>
          <td class="text-center">£20.00 + VAT</td>
        </tr>
        <tr>
          <td class="text-center">
            50 – 99
          </td>
          <td class="text-center">£15.00 + VAT</td>
        </tr>
        <tr>
          <td class="text-center">
            100 – 1,000
          </td>
          <td class="text-center">£10.00 + VAT</td>
        </tr>
      </tbody>
    </table>
    Please note there is a maximum of 1000 Job Credits per order
    <div class="vertical-margin">
      <p><strong>Why post jobs on carehome.co.uk?</strong></p>
      <ul>
        <li>carehome.co.uk Jobs section is number 1 in Google for thousands of key words eg Care Home Jobs, Care Home Manager
          Jobs, Care Home Jobs London, Care Home Manager Jobs Berkshire</li>
        <li>carehome.co.uk Jobs section is marketed by email on a continual basis to over 35,000 care home managers and owners</li>
        <li>carehome.co.uk has over 16.5 million visitors per year <a target="_blank" href="https://www.carehome.co.uk/analytics/latest.png">&lt;webstats screenshot&gt;</a>          and a substantial number of these visitors are carers, nursers, managers looking for care home jobs. The care home
          jobs page is the 2nd most visited page on our website.</li>
      </ul>
    </div>
    <div class="vertical-margin">
      <p><strong>Do Applicants need to Pay to Apply for the Jobs?</strong><br> No payment is required to Apply for a Job.</p>
    </div>
    <div class="vertical-margin">
      <p><strong>Are posted Jobs also Promoted on other Job Boards?</strong><br> As well as being listed on carehome.co.uk/jobs,
        job postings are promoted on our network of external Jobs Boards (our current external Job Board Network includes:
        Indeed, Universal Jobmatch, Adzuna, Trovit, Jobrapido, jobtome, Glass Door, Recruitics
        <a href="https://www.carehome.co.uk/jobs/network" target="_blank" title="Jobs netwrork">more info</a> ) Please note
        we do not guarantee inclusion of your Jobs on any of our network Job Boards, and we reserve the right to add/remove
        any Job Boards to our network at any point in time.</p>
    </div>
    <div class="vertical-margin">
      <p><strong>Can I post Jobs using 3rd party Software/Services such as Broadbean?</strong><br> Jobs can be posted directly
        from your own Content Management System (CMS) to our Jobs Board via our API, and we are also integrated with the
        following 3rd party Services: Broadbean, Vacancy Poster, Idibu, LogicMelon, Job Mate, SFSF Recruiting Posting</p>
    </div>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
