<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Posting a Care Training Course FAQ</h3>
  </div>
  <div class="panel-body">
    <p>For <strong>Training Providers</strong> listed on carehome.co.uk in our <a href="https://www.carehome.co.uk/suppliers_search_results.cfm/searchcategory/895">Training Provider Listings</a>, please go to the 'Training Course' page on your <a href="https://www.carehome.co.uk/advertise_supplier.cfm/page/supplierentry">carehome.co.uk Control Panel</a> to post Courses. If you do not have an existing free listing <a href="https://www.carehome.co.uk/advertise_supplier.cfm/page/supplierentry">click here</a>.</p>
    <h3>FAQ</h3>
    <p><strong>What is required to post Training Courses?</strong><br>
      You must be subscribed to a Sponsored Category Listing (maximum of 30 concurrent courses can be posted) or a Featured Training Course Provider (maximum of 200 concurrent courses can be posted) to post Training Courses. Please note the Sponsored Category Limits have been advertised since 1st Jan 2015, but only enforced from 7th July 2016.
    </p>
    <p><strong>How Long do the Courses Show For?</strong><br>
      The Courses show for an unlimited period, however each Course Posting has a maximum expiry date of 90 days (or 1 year if the course is date specific), you can extend the expiry date of the Course Posting at any time, and as many times as you want. Course Postings can also be removed at any time.
    </p>
    <p><strong>What Sort of response will I get to my Posting?</strong><br>
      Obviously we can't guarantee a good response, however carehome.co.uk is the most visited UK Care Home website and  is used extensively within the Care Sector and also by the General Public, making it an ideal environment for Training Providers &amp; members of the public looking for Training Courses.
    </p>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
