<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Basic / Enhanced / Premium Services</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Basic</th>
          <th>Enhanced</th>
          <th>Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Your Profile</th>
          <td>Basic Profile</td>
          <td>
            <p>Full Profile</p>
            <p>Website Referrals</p>
            <p>Priority Ranking</p>
          </td>
          <td>
            <p>Full Profile</p>
            <p>Website Referrals</p>
            <p>Priority Ranking</p>
          </td>
        </tr>
        <tr>
          <th>Your Reviews</th>
          <td></td>
          <td>
            <p>Review Generation with Cards and Invite to Review</p>
            <p>Review Average Rating showing in your Google Search Results</p>
            <p>Review Widgets to list Reviews on your own Website</p>
          </td>
          <td>
            <p>Review Generation with Cards and Invite to Review</p>
            <p>Review Average Rating showing in your Google Search Results</p>
            <p>Review Widgets to list Reviews on your own Website</p>
          </td>
        </tr>
        <tr>
          <th>Your Jobs</th>
          <td></td>
          <td>10 Job Credits (worth £250)</td>
          <td>20 Job Credits (worth £400)</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
