<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Post your Care Homes, Housing with Care, Hospitals, Hospices & Care Provider Businesses for Sale</h3>
  </div>
  <div class="panel-body">
    <p>For <strong>Property Agents</strong> listed on carehome.co.uk in our <a href="https://www.carehome.co.uk/suppliers_search_results.cfm/searchcategory/717">Property Agency Listings</a>, please go to the 'Care Homes for Sale' page on your <a href="https://www.carehome.co.uk/advertise_supplier.cfm/page/supplierentry">carehome.co.uk Control Panel</a> to post Care Homes for Sale. If you do not have an existing free listing <a href="https://www.carehome.co.uk/advertise_supplier.cfm/page/supplierentry">click here</a>.</p>
    <h3>FAQ</h3>
    <p><strong>What is required to post Property Listings?</strong><br>
	    You must be subscribed to a Sponsored Category Listing to post up to 20 concurrent Property Listings (10 For Sale &amp; 10 Sold), or alternatively sign up as a Featured Property Agent to post unlimited Property Listings. Please note the Sponsored/Featured Limits have been advertised since 1st Jan 2015, but only enforced from 7th July 2016.
    </p>
    <p><strong>How Long do the Property Listings Show For?</strong><br>
	    The Listings show for an unlimited period, however each Property listing has a maximum expiry date of 30 days, you can extend the expiry date of the Property Listing at any time, and as many times as you want. Properties can also be removed at any time.
    </p>
    <p><strong>Why does my logo not show next to my property listings?</strong><br>
	    Please send in your logo and we will upload it to your listing.
    </p>
    <p><strong>Do Applicants need to Pay/Sign Up to post an enquiry?</strong><br>
      Any visitor to the Property For Sale / Sold Section can send in an enquiry by email direct to the Agency Contact or access the telephone number of the Agency contact, without having to pay or sign up.
    </p>
    <p><strong>What Sort of response will I get to my Posting?</strong><br>
      Obviously we can't guarantee a good response, however carehome.co.uk is the most visited UK Care Home website and is used extensively within the Care Sector and also by the General Public, making it an ideal environment for Sellers &amp; Potential Purchasers.
    </p>
    <div class="text-center">
      <a>Click here for more info!</a>
    </div>
  </div>
</div>
