<!--<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <button id="request-callback-btn" class="btn btn-danger">
      <div class="row">
        Request a call back from our Sales Team
      </div>
    </button>
  </div>
</div>-->
<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center">
    <h4>Which one of the following best describes you?</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-right">
    <button [routerLink]="['/care-provider']" class="btn btn-default btn-main">
      <div class="row">
        <p class="fa fa-user"></p>
      </div>
      <div class="row">
        Care Provider
      </div>
    </button>
  </div>
  <div class="col-md-6 text-left">
    <button [routerLink]="['/supplier']" class="btn btn-default btn-main">
      <div class="row">
        <p class="fa fa-truck"></p>
      </div>
      <div class="row">
        Supplier
      </div>
    </button>
  </div>
</div>
